<h3>All Chipmunk</h3>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Type</th>
    <th></th>
    <th>Breed</th>
    <th></th>
    <th>Biography</th>
    <th></th>
    <th>Rating</th>
    <th></th>
  </tr>
  <% for animal in @animals %>
  <% if animal.type == 'Chipmunk' %>
  <tr>
    <td><a href="/animals/<%= animal.id %>"><%= animal.name %> </a></td>
    <td>|</td>
    <td><%= animal.type %></td>
    <td>|</td>
    <td><%= animal.breed %></td>
    <td>|</td>
    <td><%= animal.bio %></td>
    <td>|</td>
    <td><%= animal.rating %></td>
    <td>|</td>
  </tr>
  <% end %>
  <% end %>
</table>

<a href="/chipmunks/adoptable"> Adoptable Chipmunks</a>