<h3>All Chipmunks Available for adoption</h3>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Type</th>
    <th></th>
    <th>Breed</th>
    <th></th>
    <th>Biography</th>
    <th></th>
    <th>Rating</th>
    <th></th>
  </tr>
  <% for animal in @animals %>
  <% if animal.type == 'Chipmunk' %>
  <% if animal.rating >= 10 %>
  <% if animal.adopted.count == 0 %>
  <tr>
    <td><a href="/animals/<%= animal.id %>"><%= animal.name %> </a></td>
    <td>|</td>
    <td><%= animal.type %></td>
    <td>|</td>
    <td><%= animal.breed %></td>
    <td>|</td>
    <td><%= animal.bio %></td>
    <td>|</td>
    <td><%= animal.rating %></td>
    <td>|</td>
  </tr>
  <% end %>
  <% end %>
  <% end %>
  <% end %>
</table>