<h3>Edit Animal's Information</h3>


<form action="/animals/<%= @animal.id %>" method="post">

  <label>
  Change Name:
    <input type="text" name="name" value="<%= @animal.name %>"/>
  </label>

  <label>
  Change Breed:
    <input type="text" name="breed" value="<%= @animal.breed %>"/>
  </label>

  <label>
  Change Type:
    <select name="type">
      <option <%= "selected" if @animal.type == "Dog" %> value="Dog">Dog</option>
      <option <%= "selected" if @animal.type == "Chipmunk" %> value="Chipmunk">Chipmunk</option>
      <option <%= "selected" if @animal.type == "Walrus" %> value="Walrus">Walrus</option>
      <option <%= "selected" if @animal.type == "Parrot" %> value="Parrot">Parrot</option>
    </select>
  </label>

  <label>
  Change Bio:
    <input type="text" name="bio" value="<%= @animal.bio %>"/>
  </label>

  <label>
  Change Adoptability:
    <input type="number" name="rating" value="<%= @animal.rating %>"/>
  </label>

  <label>
  Change Image:
    <input type="text" name="image" value="<%= @animal.image %>"/>
  </label>

  <input type="submit" value="Update Animals's information"/>

</form>