<h3>Animals</h3>
<p><a href="/animals/new">Add an Animal</a></p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Type</th>
    <th></th>
    <th>Breed</th>
    <th></th>
    <th>Biography</th>
    <th></th>
    <th>Rating</th>
    <th></th>
  </tr>
  <% for animal in @animals %>
  <tr>
    <td><a href="/animals/<%= animal.id %>"><%= animal.name %> </a></td>
    <td>|</td>
    <td><%= animal.type %></td>
    <td>|</td>
    <td><%= animal.breed %></td>
    <td>|</td>
    <td><%= animal.bio %></td>
    <td>|</td>
    <td><%= animal.rating %></td>
    <td>|</td>
  </tr>
  <% end %>
</table>


<p>
<li>
<a href="/adoptable"> Show Animals Available for Adoption</a>
</li>
<li>
<a href="/training"> Show Animals Still in Training</a>
</li>
<li>
<a href="/dogs"> Dogs</a>&nbsp;&nbsp;<a href="/chipmunks"> Chipmunks</a>&nbsp;&nbsp;<a href="/parrots"> Parrot</a>&nbsp;&nbsp;<a href="/walrus"> Walrus</a>
</li>
</p>







