<p> Name: <%= @animal.name() %></p>
<p> Type: <%= @animal.type() %></p>
<p> Breed: <%= @animal.breed() %></p>
<p> Biography: <%= @animal.bio() %></p>
<p> Rating: <%= @animal.rating() %> out of 10!</p>
<p> Photo: <img id="animal_image" src="/images/<%= @animal.image %>" height="442"></p>


<a href="/animals/<%= @animal.id %>/edit">Edit Animal's Information</a>

<form action="/animals/<%= @animal.id %>/delete" method="post">
<input type="submit" value="Delete Animal"/>
</form>
