<p> Match for <%= @owner.name %>: </p>

<h1> <%= @animal_match.name %> </h1>

<h2> Tinder description that no-one ever reads: </h2>
 <h3> <%= @animal_match.bio %> </h3>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/owners/<%= @owner.id %>/<%= params[:match_number].to_i + 1 %>">SWIPE LEFT! (hell nah, he ugly)</a>
</p>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/adoptions/new">SWIPE RIGHT! (adopt)</a>
</p>



<p><img id="animal_image" src="/images/<%= @animal_match.image %>" height="442"></p>
