<p> Full Name: <%= @owner.name() %></p>
<p> Contact Number: <%= @owner.contact_number() %></p>
<p> Looking to Home: <%= @owner.ideal_type() %></p>



<a href="/owners/<%= @owner.id %>/edit">Edit Owners Information</a>

<form action="/owners/<%= @owner.id %>/delete" method="post">
<input type="submit" value="Delete Owner"/>
</form>

<p> Adopted: </p>
<% @owner.animals.each do |animal| %>

<p> <%= animal.name %> </p>

<p><img id="animal_image" src="/images/<%= animal.image %>" height="442"></p>

<% end %>

<% if @owner.animals.count == 0%>
<label>No Pets Adopted</label> 
<% end %>


<a href="/owners/<%= @owner.id %>/matches"> DOGE TINDER!!!</a>
